@charset "UTF-8";
.content { width: 1200px; margin-left: auto; margin-right: auto; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { zoom: 1; }

html, body { background: #f4f8f8; }

.wrapper { background: url("../images/banner.png") no-repeat; background-size: 1920px 100%; background-position: -320px; }

header { display: block; width: 100%; height: 120px; transition: all .4s; z-index: 8888; }
header .content { position: relative; }
header .logo { position: absolute; left: 0; top: 39px; }
header .logo a { text-decoration: none; }
header .logo h3 { color: #4585f3; font-size: 43px; margin: 0; }
header nav { height: 120px; line-height: 120px; margin-left: 410px; }
header nav a { position: relative; display: inline-block; padding: 0 10px; margin-right: 30px; text-decoration: none; color: #FFF; text-align: center; font-weight: 600; font-size: 16px; }
header nav a.wbDownload { color: #4585f3; }
header nav a:after { content: ""; width: 0; height: 3px; position: absolute; left: 0; top: 83px; background: #4585f3; transition: all .4s; }
header nav a.cur:after { width: 100%; }

section#banner { margin-top: 120px; }
section#banner .banner { width: 100%; height: 714px; }
section#banner .banner h1 { padding-top: 136px; margin: 0; font-size: 51px; }
section#banner .banner h2 { margin: 20px 0 40px; }
section#banner .banner h1, section#banner .banner h2, section#banner .banner p { color: #fff; text-align: center; }
section#banner .banner p.con { font-weight: 200; }
section#banner .banner .intro { margin-top: 48px; line-height: 2; font-size: 19px; }

section#about { padding-top: 150px; }
section#about .aboutMTL { margin-bottom: 100px; text-align: center; }
section#about .aboutMTL p { font-size: 18px; }
section#about .aboutMTL p span { color: #4c4c4c; display: inline-block; padding: 0 20px; }
section#about .aboutMTL > span { color: #99a1a3; font-size: 12px; }
section#about .aboutDetail .item { text-align: center; float: left; width: 290px; margin-right: 165px; }
section#about .aboutDetail .item img { position: relative; top: 0; height: 182px; display: inline-block; margin-bottom: 80px; transition: all .4s; }
section#about .aboutDetail .item h3 { color: #525252; margin-bottom: 20px; }
section#about .aboutDetail .item p { color: #99a1a3; line-height: 1.5; }
section#about .aboutDetail .item:last-child { margin-right: 0; }
section#about .aboutDetail .img1 { animation-name: skyset; animation-duration: 1500ms; animation-iteration-count: infinite; /*无限循环*/ animation-timing-function: linear; }
@-webkit-keyframes skyset { 0% { top: 0px; }
  25% { top: 1px; }
  50% { top: 2px; }
  75% { top: 1px; }
  100% { top: 0px; } }
section#about .aboutDetail .img2 { animation-name: skysett; animation-duration: 1500ms; animation-iteration-count: infinite; /*无限循环*/ animation-timing-function: cubic-bezier(0.19, 0.19, 0.58, 0.66); }
@-webkit-keyframes skysett { 0% { top: 0px; }
  50% { top: -3px; }
  100% { top: 0px; } }
section#about .aboutDetail .img3 { animation-name: skysettt; animation-duration: 1500ms; animation-iteration-count: infinite; /*无限循环*/ animation-timing-function: cubic-bezier(0.19, 0.19, 0.58, 0.66); }
@-webkit-keyframes skysettt { 0% { top: 0px; }
  50% { top: 3px; }
  100% { top: 0px; } }
section#team { padding-top: 100px; padding-bottom: 100px; }
section#team .aboutTeam { margin-bottom: 60px; text-align: center; }
section#team .aboutTeam p { font-size: 18px; }
section#team .aboutTeam p span { color: #4c4c4c; display: inline-block; padding: 0 20px; }
section#team .aboutTeam > span { color: #99a1a3; font-size: 12px; }
section#team .tab { text-align: center; margin-bottom: 60px; }
section#team .tab span { margin-right: 48px; color: #99a1a3; cursor: pointer; }
section#team .tab span.cur { color: #1c1c1c; }
section#team .pics ul { padding: 0; }
section#team .pics .hxTeam li:nth-child(1) { background: url("../images/peoples/yz.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(2) { background: url("../images/peoples/lixin.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(3) { background: url("../images/peoples/ruixin.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(4) { background: url("../images/peoples/zhb.jpeg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(5) { background: url("../images/peoples/tianyou.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(6) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(7) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(8) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hxTeam li:nth-child(9) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam { display: none; }
section#team .pics .gwTeam li:nth-child(1) { background: url("../images/peoples/suaichu.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(2) { background: url("../images/peoples/tanglin.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(3) { background: url("../images/peoples/laomao.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(4) { background: url("../images/peoples/cuidabao.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(5) { background: url("../images/peoples/liwei.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(6) { background: url("../images/peoples/chenyujun.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(7) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(8) { background: url("../images/peoples/xuyang.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(9) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(10) { background: url("../images/peoples/zhengzuo.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(11) { background: url("../images/peoples/maitao.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(12) { background: url("../images/peoples/jinpeng.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(13) { background: url("../images/peoples/fengtao.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(14) { background: url("../images/peoples/chaoshen.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(15) { background: url("../images/peoples/zulinyao.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .gwTeam li:nth-child(16) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hfTeam { display: none; }
section#team .pics .hfTeam li:nth-child(1) { background: url("../images/peoples/xuemanzi.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hfTeam li:nth-child(2) { background: url("../images/peoples/hantianqi.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hfTeam li:nth-child(3) { background: url("../images/peoples/pengjiu.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hfTeam li:nth-child(4) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .hfTeam li:nth-child(5) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .tzTeam { display: none; }
section#team .pics .tzTeam li:nth-child(1) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .tzTeam li:nth-child(2) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .tzTeam li:nth-child(3) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics .tzTeam li:nth-child(4) { background: url("../images/peoples/default.jpg") no-repeat; background-size: 100% 100%; }
section#team .pics li { list-style: none; float: left; width: 220px; height: 220px; margin-right: 25px; margin-bottom: 40px; }
section#team .pics li .desc { height: 220px; width: 220px; color: #fff; text-align: center; background-size: 0 0; position: relative; opacity: 0; transition: all .4s; }
section#team .pics li .desc:before { content: ""; position: absolute; left: 0; top: 0; width: 220px; height: 0px; background: rgba(30, 89, 173, 0.6); transition: all .4s; }
section#team .pics li .desc p { margin: 0; position: relative; }
section#team .pics li .desc .name { padding-top: 40px; font-size: 18px; font-weight: 500; }
section#team .pics li .desc .info { line-height: 40px; font-weight: 200; }
section#team .pics li .desc .descDetail { padding: 0 10px; font-weight: 200; font-size: 12px; text-align: left; line-height: 20px; }
section#team .pics li .desc:hover { opacity: 1; }
section#team .pics li .desc:hover:before { height: 220px; }
section#team .pics li:nth-child(5n) { margin-right: 0; }

section#progress { background: url("../images/progressBg.jpg") no-repeat; background-size: 100% 99%; padding-top: 100px; transition: all .4s; }
section#progress:hover { background-size: 101% 100%; }
section#progress .prog { margin-bottom: 100px; text-align: center; }
section#progress .prog p { font-size: 18px; }
section#progress .prog p span { color: #fff; display: inline-block; padding: 0 20px; }
section#progress .prog > span { color: #fff; font-size: 12px; }
section#progress .allProgInfo { position: relative; }
section#progress .allProgInfo .progInfo1 { margin: 0 150px; height: 626px; overflow: hidden; }
section#progress .allProgInfo .progInfo1:after { content: ''; position: absolute; top: 150px; width: 900px; height: 4px; background: #fff; }
section#progress .allProgInfo .progInfo1 .infoText { position: relative; left: 0; transition: left .4s; }
section#progress .allProgInfo .progInfo1 .infoItem { width: 206px; height: 200px; position: absolute; text-align: center; font-size: 14px; color: #fff; }
section#progress .allProgInfo .progInfo1 .infoItem:after { content: ''; position: absolute; width: 12px; height: 12px; border-radius: 50%; background: #fff; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(1) { left: 0; top: 40px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(1):after { top: 105px; left: 100px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(2) { left: 200px; top: 186px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(2):after { top: -40px; left: 100px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(3) { left: 300px; top: 40px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(3):after { top: 105px; left: 100px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(4) { left: 500px; top: 186px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(4):after { top: -40px; left: 100px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(5) { left: 680px; top: 40px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(5):after { top: 105px; left: 100px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(6) { left: 900px; top: 186px; }
section#progress .allProgInfo .progInfo1 .infoItem:nth-child(6):after { top: -40px; left: 100px; }
section#progress .allProgInfo .control span { position: absolute; top: 127px; width: 36px; height: 66px; cursor: pointer; }
section#progress .allProgInfo .control .prev { left: 0; background: url("../images/prev.png") no-repeat; }
section#progress .allProgInfo .control .next { right: 0; background: url("../images/next.png") no-repeat; }

section#projects { padding-top: 100px; padding-bottom: 200px; }
section#projects .proj { margin-bottom: 100px; text-align: center; }
section#projects .proj p { font-size: 18px; }
section#projects .proj p span { color: #4c4c4c; display: inline-block; padding: 0 20px; }
section#projects .proj p.info { font-size: 14px; color: #99a1a3; line-height: 2; }
section#projects .proj > span { color: #99a1a3; font-size: 12px; }
section#projects .projItems .btcj, section#projects .projItems .mxf { width: 500px; float: left; }
section#projects .projItems .btcj h3, section#projects .projItems .mxf h3 { color: #4c4c4c; text-align: center; }
section#projects .projItems .btcj p, section#projects .projItems .mxf p { color: #99a1a3; line-height: 2; }
section#projects .projItems .btcj { margin-right: 100px; }
section#projects .projItems .btcj img { width: 300px; height: 116px; display: block; margin: 0 auto; }
section#projects .projItems .mxf img { width: 300px; height: 116px; display: block; margin: 0 auto; }

footer#aboutUs { background: #313131; color: #fff; padding-bottom: 80px; }
footer#aboutUs .logo p { font-size: 26px; font-weight: 800; padding: 80px 0 40px; }
footer#aboutUs .left { float: left; }
footer#aboutUs .left a { color: #fff; text-decoration: none; }
footer#aboutUs .left a.l { margin-right: 100px; }
footer#aboutUs .right { float: right; }

/*# sourceMappingURL=index.css.map */
